<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>보안포털 어드민</title>
<link rel="stylesheet" href="../css/lib.css">
<link rel="stylesheet" href="../css/gsecu_admin.css">
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/gsecu_admin.js"></script>
</head>
<body style="margin:10px;">






<!-- 폼요소들 -->
<h2 class="tle_01">폼요소들</h2>

<label><input type="radio" /> 동해물과</label> &nbsp; &nbsp;
<label><input type="checkbox" /> 동해물</label> &nbsp; &nbsp;
<label class="disable"><input type="checkbox" disabled="disabled"> 반려</label> &nbsp; &nbsp;
<br><br>
<label><input type="text" style="width:60px;" /></label>

<label><select>
	<option>&nbsp;동해물과&nbsp;</option>
	<option>&nbsp;동해물과&nbsp;</option>
	<option>&nbsp;동해물과&nbsp;</option>
</select></label>



<!-- button -->
<h2 class="tle_01">button</h2>

<span class="btn_a1"><button type="button">초기화</button></span>
<span class="btn_a2"><button type="button">초기화초기화</button></span>
<span class="btn_a2 v2"><button type="button">초기화초기화</button></span>
<span class="btn_a3"><button type="button">초기화초기화</button></span>
<br><br>

<span class="btn_b1"><button type="button">초기화</button></span>
<br><br>

<span class="btn_c1"><button type="button">확인확인</button></span>
<span class="btn_c2"><button type="button">삭제삭제</button></span>
<br><br>


<!-- 폼요소들 콤비네이션 -->
<h2 class="tle_01">폼요소 버튼 콤비네이션</h2>

<label><input type="radio" /> 동해물과</label> &nbsp; &nbsp;
<label><input type="checkbox" /> 동해물</label> &nbsp; &nbsp;


<label><input type="text" style="width:60px;" /></label>

<label><select>
	<option>&nbsp;동해물과&nbsp;</option>
	<option>&nbsp;동해물과&nbsp;</option>
	<option>&nbsp;동해물과&nbsp;</option>
</select></label>

<span class="btn_a1"><button type="button">초기화</button></span>
<span class="btn_a2"><button type="button">초기화초기화</button></span>







<!-- 페이징 -->
<h2 class="tle_01">페이징</h2>

<div class="Pt25 C">
<!-- paging -->
	<a class="img" href="#"><img src="../images/paging_ll.gif" alt="처음" class="M" /></a>
	<a class="img" href="#"><img src="../images/paging_l.gif" alt="이전" class="M" /></a>
	<span class="paging">
		<a href="#">11</a><a class="now" href="#">12</a><a href="#">13</a><a class="on" href="#">14</a><a href="#">15</a><a href="#">16</a><a href="#">17</a><a href="#">18</a><a href="#">19</a><a href="#">20</a>
	</span>
	<a class="img" href="#"><img src="../images/paging_r.gif" alt="다음" class="M" /></a>
	<a class="img" href="#"><img src="../images/paging_rr.gif" alt="끝" class="M" /></a>
<!-- //paging -->
</div>



<h2 class="tle_01">리스트</h2>
<ul class="list_01">
	<li>- 동해물과 백두산이 동해물과 백두산이 </li>
	<li>- 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 동해물과 백두산이 </li>
	<li>- 동해물과 백두산이 동해물과 백두산이 </li>
	<li>- 동해물과 백두산이 동해물과 백두산이 </li>
	<li>- 동해물과 백두산이 동해물과 백두산이 </li>
</ul>



<h2 class="tle_01">색상정리</h2>
<p class="gray_01">그레이1</p>
<p class="gray_02">그레이2</p>
<p class="gray_03">그레이3 &lt;-- basic color</p>
<p class="gray_04">그레이4</p>
<p class="gray_05">그레이5</p>
<p class="gray_06">그레이6</p>
<p class="org_01">오렌지</p>
<p class="red_01">레드</p>
<p class="blue_01">블루</p>
<p class="green_01">그린</p>
<p class="blue_01 Bo">블루 볼드</p>










</body>
</html>
