<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>보안포털 어드민</title>
<link rel="stylesheet" href="../css/lib.css">
<link rel="stylesheet" href="../css/gsecu_admin.css">
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/gsecu_admin.js"></script>
</head>
<body>


<!-- +++++++++++++++++++++++++++++++ header +++++++++++++++++++++++++++++++++++ -->
<div id="header">
	<h1 class="logo"><a href="#"><img src="../images/logo-gabia.png" alt="gabia." /></a> 가비아 보안관제센터 ADMIN</h1>
</div>
<!-- +++++++++++++++++++++++++++++++ //header +++++++++++++++++++++++++++++++++++ -->


<!-- +++++++++++++++++++++++++++++++ GNB +++++++++++++++++++++++++++++++++++ -->
<div id="gnb">
	<div class="gnb_top">
		<div class="wrap Relative">

			<ul class="gnb_menu">
				<li class="on">
					<a href="#">보안 정책 관리</a>
					<ul class="sub1">
						<li class="on"><a href="#">단독형 방화벽</a></li>
						<li><a href="#">단독형 방화벽</a></li>
					</ul>
				</li>
				<li>
					<a href="#">회원 관리</a>
					<ul class="sub2">
						<li><a href="#">회원 관리 sub</a></li>
						<li><a href="#">회원 관리 sub</a></li>
					</ul>
				</li>
				<li>
					<a href="#">장비 관리</a>
					<ul class="sub3">
						<li><a href="#">장비 관리 sub</a></li>
						<li><a href="#">장비 관리 sub</a></li>
					</ul>
				</li>
				<li>
					<a href="#">설정</a>
					<ul class="sub4">
						<li><a href="#">설정 sub</a></li>
						<li><a href="#">설정 sub</a></li>
					</ul>
				</li>
			</ul>
			
			<div class="login_out">
				<ul>
					<li class="name">%ADMIN% %직원명% 님</li>
					<li><a class="button" href="#">로그아웃</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>
<!-- +++++++++++++++++++++++++++++++ //GNB +++++++++++++++++++++++++++++++++++ -->






<!-- +++++++++++++++++++++++++++++++ 본문 +++++++++++++++++++++++++++++++++++ -->
<div class="wrap">
	
	<!-- line map -->
	<div class="line_map">
		<ol>
			<li><a class="home" title="home" href="/"></a></li>
			<li><a href="#">보안 정책 관리</a></li>
			<li><a href="#">단독형 방화벽</a></li>
		</ol>
	</div>
	<!-- //line map -->
	
	<!-- 본문 타이틀 -->
	<h2 class="tle_01 Mt0">단독형 방화벽 정책 접수현황</h2>

	<!-- 검색 box -->
	<div class="box_contents_01">
		<table>
		<tr>
			<th><p>검색어</p></th>
			<td>
				<label><select title="선택">
					<option>&nbsp;전체&nbsp;</option>
				</select></label>
				<label><input type="text" title="입력하세요." style="width:220px;" /></label>
				<span class="btn_a2 v2"><button type="button">검색</button></span>
			</td>
		</tr>
		<tr>
			<th><p>처리상태</p></th>
			<td>
				<label><input type="checkbox"> 접수</label> &nbsp; &nbsp; 
				<label><input type="checkbox"> 처리 중</label> &nbsp; &nbsp; 
				<label><input type="checkbox"> 처리 완료</label> &nbsp; &nbsp; 
				<label class="disable"><input type="checkbox" disabled="disabled"> 반려</label> &nbsp; &nbsp; 
			</td>
		</tr>
		<tr>
			<th><p>기간</p></th>
			<td>
				<label><select title="선택">
					<option>&nbsp;요청일&nbsp;</option>
				</select></label>
				<label><input type="text" class="C" title="입력하세요." style="width:100px;" /></label>
				<input type="image" src="../images/icon-calendar.png" alt="달력" class="T Mt-1" />
				&nbsp;~&nbsp;
				<label><input type="text" class="C" title="입력하세요." style="width:100px;" /></label>
				<input type="image" src="../images/icon-calendar.png" alt="달력" class="T Mt-1" /> &nbsp; &nbsp;
				<span class="btn_a1"><button type="button">당일</button></span>
				<span class="btn_a1"><button type="button">3일</button></span>
				<span class="btn_a1"><button type="button">1주일</button></span>
				<span class="btn_a1"><button type="button">1개월</button></span>
				<span class="btn_a1"><button type="button">당월</button></span>
				<span class="btn_a1"><button type="button">3개월</button></span> &nbsp;
				<span class="btn_a1 v2 excel"><button type="button"><b></b>엑셀 다운로드</button></span>
			</td>
		</tr>
		</table>
	</div>
	<!-- //검색 box -->

	<p class="txt_101">
		총 <span class="org_01">20,000</span>건이 검색되었습니다.
	</p>
	
	<!-- table_01 형 -->
	<table id="hoverSelectTable_01" class="table_01">
		<caption>table_01 형 - col table</caption>
		<colgroup><col style="width:50px;"><col style="width:100px;"><col style="width:130px;"><col style="width:130px;"><col style="width:90px;"><col><col style="width:125px;"><col style="width:125px;"><col style="width:90px;"><col style="width:90px;"></colgroup>
		<thead>
		<tr>
			<th>번호</th>
			<th>장비 IP</th>
			<th>
				업체명
				<span class="icon_i" rel="tooltip_a01"></span><span id="tooltip_a01" class="tooltip_position" style="display:none;">
					<span class="layer_tooltip">
						<span class="inner">
							실제로 장비를 사용하는 계정의 업체명입니다.
							실제로 장비를 사용하는 계정의 업체명입니다.
						</span>
					</span>
				</span>
			</th>
			<th>
				요청업체
				<span class="icon_i" rel="tooltip_a02"></span><span id="tooltip_a02" class="tooltip_position" style="display:none;">
					<span class="layer_tooltip">
						<span class="inner">
							실제로 장비를 사용하는 계정의 업체명입니다.
							실제로 장비를 사용하는 계정의 업체명입니다.
						</span>
					</span>
				</span>
			</th>
			<th>
				요청자
				<span class="icon_i" rel="tooltip_a03"></span><span id="tooltip_a03" class="tooltip_position" style="display:none;">
					<span class="layer_tooltip">
						<span class="inner">
							실제로 장비를 사용하는 계정의 업체명입니다.
							실제로 장비를 사용하는 계정의 업체명입니다.
							실제로 장비를 사용하는 계정의 업체명입니다.
						</span>
					</span>
				</span>
			</th>
			<th>정책 이름</th>
			<th>요청일</th>
			<th>처리일</th>
			<th>처리자</th>
			<th>처리상태</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L"><a href="#">%제목제목제목제목제목제목제목%</a></td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>접수</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>접수</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>처리완료</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>접수</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>접수</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>처리완료</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>접수</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>접수</td>
		</tr>
		<tr>
			<td>000</td>
			<td>%장비IP%</td>
			<td>%업체명업체명%</td>
			<td>%요청업체명%</td>
			<td>%사용자%</td>
			<td class="L">%제목제목제목제목제목제목제목%</td>
			<td>2015-02-03 16:23</td>
			<td>2015-02-03 16:23</td>
			<td>%직원명%</td>
			<td>처리완료</td>
		</tr>
		</tbody>
	</table>
	<script>
		$(function() {
			$('#hoverSelectTable_01 td').hover(
				function() {
					$(this).parent('tr').addClass('on');
					$(this).click(function() {
						$('#hoverSelectTable_01 tr').removeClass('selected');
						$(this).parent('tr').addClass('selected');
					});
				},
				function() { $(this).parent('tr').removeClass('on'); }
			);
		})
	</script>

	<div class="Pt25 C">
	<!-- paging -->
		<a class="img" href="#"><img src="../images/paging_ll.gif" alt="처음" class="M" /></a>
		<a class="img" href="#"><img src="../images/paging_l.gif" alt="이전" class="M" /></a>
		<span class="paging">
			<a href="#">11</a><a class="now" href="#">12</a><a href="#">13</a><a class="on" href="#">14</a><a href="#">15</a><a href="#">16</a><a href="#">17</a><a href="#">18</a><a href="#">19</a><a href="#">20</a>
		</span>
		<a class="img" href="#"><img src="../images/paging_r.gif" alt="다음" class="M" /></a>
		<a class="img" href="#"><img src="../images/paging_rr.gif" alt="끝" class="M" /></a>
	<!-- //paging -->
	</div>

</div>
<!-- +++++++++++++++++++++++++++++++ //본문 +++++++++++++++++++++++++++++++++++ -->




<!-- +++++++++++++++++++++++++++++++ footer +++++++++++++++++++++++++++++++++++ -->
<div id="footer">
	<div class="contents">
		(주)가비아 | 대표이사:김홍국 | 전화번호 02-2039-5337<br>
		사업자등록번호 : 214-86-39239 | 통신판매업 신고번호 : 제2012-경기성남-1188호 경기도 성남시 분당구 대왕판교로 660(삼평동) 유스페이스1 B동 4층<br>
		ⓒ Gabia Inc. All Rights Reserved.
	</div>
</div>
<!-- +++++++++++++++++++++++++++++++ //footer +++++++++++++++++++++++++++++++++++ -->




</body>
</html>